* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .wrap{
    float: left;
    width: 50%;
    margin: auto;

  }
  .icon{
    width: 40px;
    height: 6px;
    background-color: black;
    margin: 6px 0px;

  }
 

  select{
    float: left;

  }

  
  nav {
    width: 280px;
    float: left;
    height: 100%; 
    background: #ccc;
    padding: 20px;
    margin-top: 0%;
    position: fixed;
    background-color: rgb(149, 214, 132);


  }
  .click{
display: none;
  }
  .navBar{
    
  }
  nav img{

    width: 100px; 
    margin:30px 30px 30px 50px ;
    border-radius: 50%;

    }
  
  nav ul {
    
    list-style-type: none;
    padding: 0;
    text-decoration: none;


  }
  nav ul li{font-size: 26px;
    margin-top: 22px; 
       text-align: center;

}
      
  nav ul li a{text-decoration: none;
  
  } 
  nav ul li a:hover{text-decoration: none;
    color: black;
  
  } 


  
  main {
    float: right;
    padding: 20px;

    width: 80%;
    background-color: #f1f1f1;
    height: auto; 
  }
main #content {
  overflow-y: auto;
  height: 1200px;

}
@media screen and (min-width:600px) and (max-width:1300px) {
  nav , .links, nav img {
background-color: aquamarine; 
display: none;
width: 20px;
 }
 main{
   width: 100%;
 }
  
  }
  @media (max-width: 600px) {
    body{
      display: grid;
      grid-template-columns: 100%;
    }
    nav, main {
      width: 100%;
      height: auto;
      position: relative;
    }
    header{
      position: fixed;
    }
    main{
      margin-top: 250px;
    }
    nav ul {
display: flex;
justify-content: space-around;    }
    
  }