#about-me-selection{
}
#profile{
    float: left;
    height: 100%;
    width: 350px;
    padding-right: 15px;
}
#profile img{
    height: 500px;width: 300px;
}
#bundle-1{
    padding-top: 12px;

}

#name{
    text-transform: uppercase;
    font-weight: 700;
}
#social-media a img{
margin: 12px;
}

