.card-body{
    padding: 2%;
    margin: 8px;
    height:350px;
    width: 45%;
    border-radius: 25px;
    border: 2px solid;
    float: left;
    

}
.card-title{
    padding-left: 12px;
    font-size: 24px;
    font-family: sans-serif;
}
.card-duration{
    padding-left: 23px;
    font-size: 22px;
}
.card-text{
    padding-left: 28px;
    font-size: 18px;

}
.button{
    background-image: linear-gradient(gray,black);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
@media screen and (max-width:700px){
    .card-body{
        width: 95%;
    }
}