 
        * {box-sizing: border-box}
        #frame{
            margin-left: 22px;
            margin-top: 10%;
            margin-bottom: 10%;

        }
        .container {
          width: 100%;
          background-color: #ddd;
        }
        
        .skills {
          text-align: right;
          color: white;
        }
p{margin-left:10%;}
h1{text-align:center;}
        
        .html {width: 80%; background-color: #4CAF50;}
        .css {width: 80%; background-color: #2196F3;}
        .js {width: 65%; background-color: #f44336;}
        .React {width: 60%; background-color: #808080;}
        .DataBase {width: 70%; background-color: #4CAF50;}
        .NodeJS {width: 50%; background-color: #2196F3;}
        .Git {width: 80%; background-color: #f44336;}
        .Java {width: 70%; background-color: #808080;}
        .Agile {width: 90%; background-color: #4CAF50;}
        .API {width: 40%; background-color: #2196F3;}
        .Electric {width: 75%; background-color: #f44336;}
